#notif-dialog {
  font-family: Meiryo, Verdana, sans-serif;
  position: absolute;
  top: 0;
  z-index: 1000;
}

#sound-buttons {
  display: flex; 
} #sound-buttons > button {
  height: 20px;
  margin: auto;
}
