#displaycodes {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  resize: none;
}

.code-types, .display-options {
  display: inline;
  user-select: none;
}

.code-types {
  float: right;
}

.display-options {
  float: left;
}

.display-options > input:first-child {
  margin-left: -4px;
}
